@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  /* font family */
  --font: "Roboto", sans-serif;

  /* font family */
  --fs-200: 0.65rem; /* 10.4px */
  --fs-300: 0.8rem; /* 12.8px */
  --fs-400: 0.875rem; /* 14px */
  --fs-500: 1rem; /* 16px */
  --fs-600: 1.125rem; /* 18px */
  --fs-700: 1.5rem; /* 24px */
  --fs-800: 1.8rem; /* 28.8px */
  --fs-900: 1.8rem; /* 28.8px */

  /* font weight */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /* Color */
  --clr-neutral-100: #fff;
  --clr-neutral-200: #f4f6f8;
  --clr-neutral-300: #ebecec;
  --clr-neutral-400: #efece5;

  --clr-black: #000;
  --clr-redOrange: #f85d56;
  --clr-lavender: #d6cce3;
  --clr-lightBlue: #c2d1df;
  --clr-lightGreen: #c4e7ce;
}

@media (min-width: 768px) {
  :root {
    /* Large screen font-sizes */
    --fs-200: 0.75rem; /* 28px */
    --fs-700: 1.75rem; /* 28px */
    --fs-900: 2.5rem; /* 40px */
  }
}

/* ---- Reset ---- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
dl,
dd,
figure,
blockquote {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  line-height: 1.5;
  font-family: var(--font);
  font-size: var(--fs-600);
  color: var(--clr-black);
}

/* ---- Typography ---- */
a {
  text-decoration: none;
  color: var(--clr-black);
}

a:hover {
  opacity: 0.5;
  transition: 0.4s ease;
}

.text-opaque {
  display: block;
  opacity: 0.5;
}

.text-white {
  color: var(--clr-neutral-100);
}

.text-200 {
  font-size: var(--fs-200);
  text-transform: uppercase;
}

.text-700 {
  font-size: var(--fs-700);
}

.text-800 {
  font-size: var(--fs-800);
}

.text-900 {
  font-size: var(--fs-900);
}

.fw-500 {
  font-weight: var(--fw-500);
}

/* Utility Class */
.split {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text-center {
  text-align: center;
}

.flow-content > * + * {
  margin-top: 1rem;
}

/* ---- Components ---- */
.btn {
  display: inline-block;
  background-color: var(--bg-btn, none);
  color: var(--fg-btn, var(--clr-black));
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  font-size: var(--fs-500);
}

.btn-black {
  --bg-btn: var(--clr-black);
  --fg-btn: var(--clr-neutral-100);
}

.btn-lavender {
  --bg-btn: var(--clr-neutral-100);
  --fg-btn: var(--clr-lavender);
}

.btn-redOrange {
  --bg-btn: var(--clr-neutral-100);
  --fg-btn: var(--clr-redOrange);
}

.btn__white-link,
.btn__black-link {
  border-bottom: 1px solid;
  padding: 0;
  margin-left: 1rem;
  font-size: var(--fs-600);
}

.btn__white-link {
  --fg-btn: var(--clr-neutral-100);
}

.btn__black-link {
  --fg-btn: var(--clr-black);
}

.bg-redOrange {
  background-color: var(--clr-redOrange);
}

.bg-lavender {
  background-color: var(--clr-lavender);
}

.bg-lighterGray {
  background-color: var(--clr-neutral-400);
}

/*  ----- General Lay-out ---- */
.container {
  max-width: 1650px;
  padding: 0 1rem;
  margin: 0 auto;
}

/* ---- Nav ---- */
.nav {
  padding: 1rem 0;
  font-size: var(--fs-500);
}
.nav.split {
  flex-direction: row;
}

.nav ul.split {
  flex-direction: row;
}

.nav ul > :nth-child(2) {
  margin-left: 1.5rem;
}

/* ---- Header ----*/
.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
}

@media (min-width: 1024px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }

  .header__planner {
    grid-column: 1 / -1;
  }
}

.header article {
  padding: 1.8rem;
  background-repeat: no-repeat;
  background-size: cover;
  height: 565px;
  align-items: flex-start;
}

.header p {
  max-width: 350px;
}

.header__planner {
  background-image: linear-gradient(
      -90deg,
      rgba(239, 236, 229, 0) 0%,
      rgba(239, 236, 229, 0.565) 100%
    ),
    url("https://images.prismic.io/mishmash/3ebb09b5-0314-4295-b0a4-49814e484e2c_homepage-shop-V02-1.png?auto=compress,format");
  background-position: bottom right, top left -300px;
}

.header__notebook {
  background-color: var(--clr-lightBlue);
  background-image: url("https://images.prismic.io/mishmash/267e3f1d-adc1-4e08-af18-df801c2ba34d_mishmash-the-notebook-blue-12.png?auto=compress,format");
  background-position: top left;
}

.header__log {
  background-color: var(--clr-lightGreen);
  background-image: url("https://images.prismic.io/mishmash/8f8e9367-0ff9-4bbd-9f10-6ce5bdaa1e8b_homepage-mishmash-bestseller-v2-6.png?auto=compress,format");
  background-position: top left;
}

.header__stock {
  background-color: var(--clr-neutral-300);
  background-image: url("https://images.prismic.io/mishmash/57e954db-f946-464b-a4b9-b6821a24698f_homepage-mishmash-last-in-stock-v2-01-6.png?auto=compress,format");
  background-position: top left;
}

/* ---- Branch ---- */
.branch {
  width: min(80%, 900px);
  margin: 8rem auto;
}

.branch__grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem;
}

.branch__grid img {
  height: 24px;
}

@media (min-width: 1024px) {
  .branch__grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .branch__grid img {
    height: auto;
  }
}

/* ---- Products ---- */

.products {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

@media (min-width: 1024px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .products__arrival {
    grid-column: 1 / -1;
  }
}

.products > article {
  padding: 1.5rem;
}

.products__content {
  max-width: 400px;
}

.products__arrival img {
  width: 800px;
}

.products__desc {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 1.5rem;
}

.products__desc.split {
  align-items: flex-start;
}

.products__desc dd {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .products__arrival {
    text-align: center;
  }
  .products__arrival-header {
    max-width: 420px;
    margin: 0 auto;
    text-align: center;
  }

  .products__desc.split {
    flex-direction: row;
    max-width: 500px;
    margin: 0 auto;
  }

  .products__desc.flow-content > * + * {
    margin: 0;
    margin-left: 2rem;
  }
}

/* ---- Testimonials ---- */

.testimonials {
  max-width: 1260px;
  margin: 8rem auto;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 2rem;
}

.testimonial > * + * {
  margin-top: 2rem;
}

@media (min-width: 1024px) {
  .testimonials {
    grid-auto-flow: column;
    grid-gap: 4rem;
  }

  .testimonial > :first-child {
    font-size: 1.3rem;
  }
}

/* ---- Quality ---- */

.quality {
  max-width: 1370px;
  margin: 0 auto;
}

.quality header {
  width: min(80%, 460px);
  margin: 0 auto 4rem;
}

.quality header > * + * {
  margin-top: 1rem;
}

.quality__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.quality__container > * {
  position: relative;
}

.quality__paper-desc {
  position: absolute;
  bottom: 30px;
  padding: 0 4.5rem;
}

.quality__paper-desc a {
  display: inline-block;
  border-bottom: 1px solid;
}

.quality__paper-desc > * + * {
  margin-top: 0.8rem;
}

@media (min-width: 1024px) {
  .quality__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ---- Shipping ---- */
.shipping {
  max-width: 1280px;
  margin: 8rem auto;
}

.shipping__list > * + * {
  margin-top: 2rem;
}

.shipping__list-items > * + * {
  margin-top: 0.6rem;
}

@media (min-width: 768px) {
  .shipping__list.split {
    flex-direction: row;
  }
  .shipping__list > * + * {
    margin-top: 0;
    margin-left: 5rem;
  }
}

/* ---- Call to action ---- */

.cta {
  background-color: var(--clr-neutral-200);
  max-width: 1600px;
  margin: 0 auto;
}

.cta__header {
  padding: 1rem;
  max-width: 450px;
}

.cta img {
  width: 727px;
  max-height: 290px;
}

@media (min-width: 768px) {
  .cta.split {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .cta__header {
    margin-left: 5rem;
  }
}

/* ---- Footer ---- */

.footer {
  max-width: 864px;
  margin: 0 auto;
}

.footer__container.split {
  align-items: flex-start;
  margin: 4rem 0;
}

.footer__list {
  margin-top: 3rem;
}

.footer__list > * + * {
  margin-top: 3rem;
}

.footer__list a {
  font-size: var(--fs-400);
  opacity: 0.7;
}

.footer__list dt {
  font-size: var(--fs-400);
}

.footer__list a:hover {
  opacity: 1;
}

.footer__note {
  font-size: var(--fs-300);
  justify-content: flex-start;
  flex-direction: row;
}

.footer__note > * + * {
  margin-left: 0.3rem;
}

.footer__info {
  border-top: solid 0.1px #888888;
  padding: 1rem 0;
  flex-direction: row;
  font-size: var(--fs-400);
}

.footer__info-social {
  flex-direction: row;
}

.footer__info-social > * + * {
  margin-left: 0.5rem;
}

@media (min-width: 768px) {
  .footer__container {
    flex-direction: row;
  }
  .footer__list {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }

  .footer__list > * + * {
    margin-top: 0;
    margin-left: 2rem;
  }
}
